.login-box
    margin: 0 auto
    display: block
    width: 37rem
    background-color: white
    @include respond(phone)
         width: 100%
    
    &__logo-box
        margin: 0 auto
        margin-bottom: 2rem
        width: 40%
        @include respond(phone)
            width: 50%
        .mountain
            color: #003366
            margin: 3rem 1.25rem auto auto
            width: 100%
            font-size: 7rem
            text-align: center
        h1
            text-align: center
            color: #003366
            margin-top: -2rem
            
        h2
            text-align: center

    &__pin-pad-box
        width: 60%
        margin: 0 auto
    
        @include respond(phone)
            width: 20rem

    &__login-button-box
        text-align: center
        padding-bottom: 5vh