.login-button
    display: inline-block
    padding: 2rem 8rem
    border: 0.2rem solid #003366
    border-radius: 3rem
    position: relative
    background-color: #003366
    .login-text
        color: white
        position: absolute
        width: 100%
        left: 50%
        top: 50%
        text-align: center
        transform: translate(-50%, -50%)