
.pin-dots-box
    text-align: center
    margin-bottom: 2rem
    .pin-dot
        display: inline-block
        border: 0.1rem solid black
        border-radius: 50%
        width: 1rem
        height: 1rem

.filled
    background-color: blue

    
        